*.in
*.o
Makefile
*~
config.h
*.log
*.status
stamp-h1
*.cache
.deps
configure
depcomp
install-sh
missing
ar-lib
compile
aclocal.m4
*.a
*.exe
src/stpdfs-fuse

*.cmd
*.symvers
*.ko
*.mod
*.mod.*
*.order